<head>
  <link rel="stylesheet" href="/CSS/footer_style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="/about">about</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>details</h4>
        <ul>
          <li><a href="">Mobile : 01113423422</a></li>
          <li><a href="mailto:Altagimport@gmail.com">Email : Altagimport@gmail.com</a></li>
          <li><a href="">adress : </a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>social media</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/profile.php?id=61550498396945&mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
  
</footer>