<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About us</title>
  <link rel="stylesheet" href="/CSS/about_us_style.css">

</head>
<%- include("../partials/localization") %>
<%- include("../partials/header") %>
<body>
  <div class="heading">
    <h1>About us</h1>
  </div>
  <div class="about-container">
    <section class="about">
      <div class="about-img">
        <img class="about_logo" src="/img/logo_about.png" alt="heli">
      </div>
      <div class="about-content">
        <h2>AL TAG</h2>
        <p>HELI forklift leading product is"HELI" brand series of forklift, online production of 2000 kinds of models, 512 kinds of products with independent intellectual property rights, the comprehensive performance of the products in the leading domestic and international advanced level.</p>
      </div>
    </section>
  </div>
  <div class="about-container">
    <section class="about">
      <div class="about-content">
        <h2>Forklifts</h2>
        <p>HELI forklift leading product is"HELI" brand series of forklift, online production of 2000 kinds of models, 512 kinds of products with independent intellectual property rights, the comprehensive performance of the products in the leading domestic and international advanced level.</p>
      </div>
      <div class="about-img">
        <img src="/img/about_heli.png" alt="heli">
      </div>
    </section>
  </div>
  <div class="about-container">
    <section class="about">
      <div class="about-img">
        <img class="about_logo" src="/img/wood_about.png" alt="heli">
      </div>
      <div class="about-content">
        <h2>WOOD</h2>
        <p>HELI forklift leading product is"HELI" brand series of forklift, online production of 2000 kinds of models, 512 kinds of products with independent intellectual property rights, the comprehensive performance of the products in the leading domestic and international advanced level.</p>
      </div>
    </section>
  </div>
</body>
<%- include("../partials/footer") %>
</html>