<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/CSS/home_style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <%- include("../partials/header") %>
<body>
  <div class="hero">
    <video autoplay loop muted plays-inline class="back-video">
      <source src="/img/shipments.mp4" type="video/mp4">
    </video>
    <div class="title">
      <!-- <img src="/img/logo.png" alt="logo"> -->
      <h1>AL TAG.</h1>
      <p>FOR GENERAL IMPORTS</p>
    </div>
  </div>
  <div class="subtitle">
    <h3>CONTENT</h3>
    <img src="/img/header_center.webp" alt="..">
  </div>
  <div class="galeri">
    <div class='img' style="background-image: url('/img/heli.png')">
      <a href="/products"><div class="content">
        <h1>clark</h1>
        <p>this section is for selling clarks</p>
      </div>   
    </a> 
    </div>
    <div  class='img' style="background-image: url('/img/wood.png')">
      <a href="/woods"><div class="content">
        <h1>wood</h1>
        <p>this section is for selling woods</p>
      </div>
     </a>
    </div>
  </div>
</body>
    <%- include("../partials/footer") %>
</html>