<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/CSS/products_style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
</head>
<%- include("../partials/header") %>

  <body>
    <div class="products">
      <div class="product-container">
        <h1 class="lg-title">Products</h1>
        <p class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat rem accusamus iure
          consectetur necessitatibus? Impedit suscipit magnam praesentium unde animi natus libero. Ea, sapiente ducimus?
        </p>
        <div class="product-items">
          <a href="/singleprodct">
          <div class="product">
            <div class="product-content">
              <div class="product-img">
                <img src="/img/product1.png" alt="product">
              </div>
              <!-- <div class="product-btn">
                <button type="button" class="view-item">View more</button>
              </div> -->
            </div>
            <div class="product-info">
              <div class="product-info-top">
                <h2 class="md-title">G series 1-1.8T</h2>
                <p class="details">This new series forklift trucks that made with the latest technical design provide you excellent operating performance. HELI forklift</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>

  </body>
  <%- include("../partials/footer") %>

</html>